
HBox {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

HBox:focused {
    -fx-background-color: #2b8ed9;
}



#controlCheckBox:focused, #altCheckBox:focused, #shiftCheckBox:focused {
    -fx-background-radius: 5px;
    -fx-background-color: #2b8ed9;
}